{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h5 class="border-bottom pb-2" style="font-family: Arial, Helvetica, sans-serif; font-weight: bolder;">댓글등록하기</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="content" style="font-size: large; font-family: 'Times New Roman', Times, serif; font-weight: bold;">댓글내용</label>
            <textarea class="form-control" name="content" id="content"
                      rows="5" style="border-color:cornflowerblue;">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: darkturquoise; color:honeydew; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">저장하기</button>
    </form>
</div>
{% endblock %}