{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-3" style="font-family: Arial, Helvetica, sans-serif; font-weight: bolder;">질문 등록</h5>
    <form method="post" class="post-form my-3">
        <div class="form-group">
            <label for="subject" style="font-size: large; font-family: 'Times New Roman', Times, serif; font-weight: bold;">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.value|default_if_none:'' }}" style="background-color:whitesmoke; border-color:cornflowerblue;">
        </div>
        <div class="form-group">
            <label for="content" style="font-size: large; font-family: 'Times New Roman', Times, serif; font-weight: bold;">내용</label>
            <textarea class="form-control" name="content" id="content" rows="8" style="background-color:whitesmoke; border-color:cornflowerblue;">
                {{ form.content.value|default_if_none:'' }}
            </textarea>
        </div>
        {% csrf_token %}
        <!-- 오류 표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert" style="background-color: lightcoral; color:navy; border-color: black;">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류 표시 End -->
        <button type="submit" class="btn btn-primary" style="float: right; background-color: darkturquoise; color:honeydew; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">저장하기</button>
    </form>
</div>
{% endblock %}